.footer {
	min-width: 1200px;
}

.footer__column-center {
	width: 1150px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
}

.footer__social {
	margin-top: 20px;
	margin-left: 5px;
}

.footer__info-company {
	margin-top: 20px;
    margin-left: 0;
}