.breadcrumbs {
	width: 1150px;
	margin: 0 auto;
	margin-top: 20px;
}

.breadcrumbs__link {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs__link--active {
	border-bottom: none;

	&:hover {
		color: #ffffff;
		cursor: default;
	}

	&:active {
		color: #ffffff;
		cursor: default;
	}
}