.filter {
	width: 1150px;
	margin: 0 auto;

	border: 1px solid red;

	& fieldset {
		border: none;
	}
}

.group-sort {
	border: none;
}

.group-sort__select {
	width: 193px;
	height: 37px;

	border-radius: 20px;
}



/*жирность*/
.group-fat-content__wrapper {
	display: inline-block;
	min-width: 415px;

	background: green;
}

.group-fat-content__label {
	display: inline-block;
	position: relative;
	padding-left: 35px;
	margin-right: 20px;
}

.group-fat-content__input {
	display: none;
}

.group-fat-content__input + label::before {
	content: "";
    position: absolute;
    top: -7px;
    left: -5px;
    width: 20px;
    height: 20px;

    border-radius: 100%;
    border: 3px solid red;
}

.group-fat-content__input:checked + label::after {
	content: "";
    position: absolute;
    top: -1px;
    left: 0px;
    width: 15px;
    height: 15px;
   
    border-radius: 100%;
    background: red;
 }

 /*наполнения*/
 .group-filler {
 	
}