.filter {
	width: 1150px;
	margin: 0 auto;

	border: 1px solid red;

	& fieldset {
		border: none;
	}
}

.form-filter {
	display: flex;
	flex-wrap: wrap;
}

.group-sort {
	border: none;
}

.group-sort__select {
	width: 193px;
	height: 37px;

	border-radius: 20px;
}

/*жирность*/
.group-fat-content__wrapper {
	display: inline-block;
	min-width: 415px;
	padding: 10px;

	border-radius: 50px;
	background: rgba(255, 255, 255, 0.3);
}

.group-fat-content__label {
	display: inline-block;
	position: relative;
	padding-left: 35px;
	margin-right: 20px;
	margin-left: 10px;
}

.group-fat-content__input {
	display: none;
}

.group-fat-content__input + label::before {
	content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 17px;
    height: 17px;

    border-radius: 100%;
    border: 4px solid rgba(255, 255, 255, 0.6);
}

.group-fat-content__input:checked + label::after {
	content: "";
    position: absolute;
    top: 2.5px;
    left: 2.3px;
    width: 10px;
    height: 10px;
   
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.6);
 }

 /*наполнения*/
 .group-filler__wrapper {
 	padding: 10px;
    border-radius: 50px;
    background:  rgba(255, 255, 255, 0.3);
}

.group-filler__label {
	display: inline-block;
	position: relative;
	padding-left: 35px;
	margin-right: 20px;
	margin-left: 10px;
}

.group-filler__input {
	display: none;
}

.group-filler__input + label::before {
	content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 17px;
    height: 17px;

    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
}

.group-filler__input:checked + label::after {
	content: "";
    position: absolute;
    top: 2.5px;
    left: 2.3px;
    width: 10px;
    height: 10px;
   
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.6);
 }

 .form-filter__button {
 	margin-top: auto;
 	color: #ffffff;
 	height: 40px;
 	background: rgba(255, 255, 255, 0.6);
 	border-radius: 50px;
 	border: none;
 	border: 2px solid #ffffff;
}