.about-company {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 1150px;
	padding: 2px 20px;
	padding-bottom: 10px;
	margin: 0 auto;
	margin-top: 20px;
	
	color: #000000;
	background: #e5d3af url('../img/banner-waffle.jpg') repeat;
	border-radius: 15px;
	box-sizing: border-box;
}

.about-company__caption {
	margin-top: 22px;
	
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
}

.about-company__text {
	display: inline-block;
	width: 480px;
	margin-top: 5px;
	padding-left: 55px;
	position: relative;

	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

.about-company__icon {
	width: 50px;
	height: 50px;
	position: absolute;
	top: -10px;
    left: -4px;
}