.map {
	position: relative;
	width: 100%;
	height: 430px;
	margin-top: 40px;

	background: #ece5c8 url('../img/map.jpg') no-repeat;
	background-position: top center;
}

.contacts {
	position: absolute;
    right: 7.5%;
    top: 65px;
    padding: 15px 20px;
    width: 300px;
    height: 305px;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #000000;
    background: #fdfdfd;
    border-radius: 20px;
    box-sizing: border-box;
    z-index: 3;
}

.contacts b {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.contacts__phone {
	margin-top: 21px;
    margin-bottom: 5px;
}

.contacts__link {
	display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 14px 28px;
    border-radius: 30px;
    z-index: 5;
}