.pagination {
	width: 1150px;
	height: 50px;
	margin: 0 auto;

	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination__list {
	padding: 0;
    list-style: none;
    display: flex;
    float: right;
    margin-right: 50px;
}

.pagination__link {
	padding: 5px 10px;
	margin-right: 5px;

	color: #ffffff;
	text-decoration: none;
}

.pagination__link:hover {
	color: #000000;
	background: #ffffff;
	border-radius: 20px;
}

.pagination__button {
	display: none;
}
